{% extends 'store/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% block content %}
    
    <div class="container mt-5">
        <center class="container mb-2"></center>
        <form method="POST" class="form-group mt-5">
            <h1>Add a New Category</h1>
            {% csrf_token %}
            <table >
                {% for field in form %}
                <tr class="container form-group">
                    <td class="form-lable">{{ field.label_tag }} : </td>
                    <td class="form-control">{{ field }}</td>
                </tr>
                {% endfor %}
            </table>
                <br>                    
                <button type="submit" class="btn btn-info">Add category</button>
                <a href="{% url 'manage_products' %}">
                <button type="submit" class="btn btn-info">Back</button>
                </a>
            </form>
            </center>
    
        </div>
    {% endblock %}


</body>
</html>